In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1 = {
    1 : ['one','two','three','four','five'],
    2 : [40,50,45,60,35],
    3 : ['Rajkot','Porbandar','Somnath','Junagadh','Vadodara']
}

In [3]:
dict1

{1: ['one', 'two', 'three', 'four', 'five'],
 2: [40, 50, 45, 60, 35],
 3: ['Rajkot', 'Porbandar', 'Somnath', 'Junagadh', 'Vadodara']}

In [4]:
df = pd.DataFrame(dict1)
df

       1   2          3
0    one  40     Rajkot
1    two  50  Porbandar
2  three  45    Somnath
3   four  60   Junagadh
4   five  35   Vadodara

In [5]:
ser[0]

NameError: name 'ser' is not defined

In [ ]:
df[1].head(4)
ser[0]

In [10]:
ser = pd.Series(np.random.rand(32))

In [11]:
ser

0     0.851130
1     0.442368
2     0.665639
3     0.694961
4     0.915376
5     0.062166
6     0.537713
7     0.416905
8     0.400027
9     0.738006
10    0.487315
11    0.692581
12    0.543170
13    0.635455
14    0.406641
15    0.002944
16    0.385934
17    0.732000
18    0.882165
19    0.468957
20    0.096775
21    0.803319
22    0.594320
23    0.099404
24    0.464469
25    0.889583
26    0.037559
27    0.341734
28    0.700031
29    0.051334
30    0.770816
31    0.930857
dtype: float64

In [12]:
type(ser)

pandas.core.series.Series

In [15]:
newdf = pd.DataFrame(np.random.rand(335,5), index=np.arange(335))

In [16]:
type(newdf)

pandas.core.frame.DataFrame

In [17]:
newdf.describe()

                0           1           2           3           4
count  335.000000  335.000000  335.000000  335.000000  335.000000
mean     0.505013    0.507708    0.487456    0.463208    0.507424
std      0.277666    0.282623    0.290979    0.298111    0.285856
min      0.000314    0.005505    0.001450    0.001647    0.000828
25%      0.264588    0.276948    0.249170    0.192942    0.247852
50%      0.521222    0.496840    0.468793    0.463181    0.531326
75%      0.724543    0.751571    0.737324    0.701307    0.747717
max      0.999455    0.990597    0.998432    0.980798    0.994939

In [18]:
newdf.head()

          0         1         2         3         4
0  0.284619  0.180486  0.242021  0.842397  0.282266
1  0.658973  0.597225  0.257948  0.341226  0.723835
2  0.499236  0.836383  0.506759  0.033596  0.046744
3  0.719318  0.330526  0.101267  0.106138  0.709337
4  0.128807  0.717850  0.973325  0.815362  0.935720

In [22]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [23]:
newdf[0][0] = "python"

In [25]:
 newdf.head()

          0         1         2         3         4
0    python  0.180486  0.242021  0.842397  0.282266
1  0.658973  0.597225  0.257948  0.341226  0.723835
2  0.499236  0.836383  0.506759  0.033596  0.046744
3  0.719318  0.330526  0.101267  0.106138  0.709337
4  0.128807  0.717850  0.973325  0.815362  0.935720

In [26]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334],
      dtype='int32', length=335)

In [28]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)