In [1]:
import numpy as np

In [2]:
n1 = np.array([1,2,3])
n1

array([1, 2, 3])

In [8]:
n2 = np.array([[1,2,3],[4,5,6],[7,8,9]])
n2.shape

(3, 3)

In [9]:
n2.dtype

dtype('int32')

In [12]:
n2[0,1]

2

Ways to create numpy array

In [16]:
arr1 = np.array([1,2,3,4,5,6,7,8,9,10])
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [18]:
arr2 = np.zeros(3)
arr2

array([0., 0., 0.])

In [21]:
arr3 = np.ones(3)
arr3

array([1., 1., 1.])

In [26]:
arr4 = np.empty(10)
arr4

TypeError: Cannot interpret '2' as a data type